h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;

}

ul,
ol {
    list-style: none;

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    padding-left: 0;

}

img {
    display: block;
}


a {
    text-decoration: none;
    font-style: normal;
    text-decoration-color: none;
    display: block;
    color: inherit;
}



button {
    border: 0;
}