:root {
  --primary-text-color: #fcfcfc;
  --secondary-text-color: #131313;
  --third-text-color: #d6936d;
  --accent-color: #f8d24e;
  --time-text-color: #ababab;
  --tel-text-color: #ffffff;
  --copyright-text-color: #7a7a7a;

  --primary-bg-color: #84a178;
  --cream-bg-color: #aec6a5;
  --coffee-bg-color: #efd478;
  --milkshakes-bg-color: #d6936d;
  --input-bg-color: rgba(248, 210, 78, 0.1);
  --icon-advantages-color: #000000;
  --hover-focus-color: #0a8817;
  --disabled-color: #ababab;
  --modal-bg-yellow-07: rgba(248, 210, 78, 0.7);
  --modal-bg-green-07: rgba(156, 190, 143, 0.7);
  --modal-bg-brown-07: rgba(213, 117, 63, 0.7);
  --modal-bg-yellow-1: rgba(248, 210, 78, 1);
  --modal-bg-green-1: rgba(156, 190, 143, 1);
  --modal-bg-brown-1: rgba(213, 117, 63, 1);

  --border-bg-color-label-green: #96af8c;
  --border-bg-color-label-yellow: #efd478;
  --border-bg-color-label-brown: #d6936d;
  --border-color-modal: #f8d24e;
  --border-color-input: #84a178;

  --mobile-primary-font-size: 14px;
  --mobile-secondary-font-size: 12px;
  --mobile-hero-font-size: 26px;
  --mobile-link-font-size: 8px;
  --mobile-label-font-size: 18px;
  --mobile-title-font-size: 30px;
  --mobile-products-font-size: 24px;
  --mobile-number-font-size: 36px;
  --mobile-customer-font-size: 20px;
  --mobile-footer-font-size: 34px;
  --modal-buy-font-size: 16px;
  --mobile-menu-font-size: 32px;
  --mobile-ingred-font-size: 10px;
  --tablet-label-font-size: 22px;
  --tablet-number-font-size: 28px;
  --tablet-advant-font-size: 48px;
  --desktop-hero-font-size: 38px;
  --desktop-number-font-size: 46px;
  --desktop-advant-font-size: 58px;

  --primary-letter-spacing: 0.04em;
  --secondary-letter-spacing: 0.06em;
  --third-letter-spacing: 0.02em;

  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
