<!-- Section ABOUT -->

<section id="about" class="about">
  <div class="container about__container">
    <p class="about-label">tradition and love</p>
    <div class="about-title-wrapper about-desc-cow">
      <h2 class="about-title">how it’s made?</h2>
    </div>
    <div class="about-description__paragraph about-desc">
      <p class="about-description__text about-description__text--indent">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>
      <p class="about-description__text about-description__text--text">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>
      <p class="about-description__text about-description__text--hidden">
        This is enough to choose ice cream and coffee for any mood!
      </p>
      <span class="">
        <button
          type="button"
          class="read-button"
          onclick="location.href='#'"
          data-modal-open-read-more
        >
          Read more
          <svg class="button-icon">
            <use href="./images/symbol-defs.svg#icon-angle"></use>
          </svg>
        </button>
      </span>
    </div>
  </div>
</section>

<!-- /Section ABOUT -->
