<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="./images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon/favicon-16x16.png">
    <link rel="manifest" href="./images/favicon/site.webmanifest">
    <title>Ice Cream</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&family=Seymour+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./sass/index.scss" />
    <script type="module" src="./index.js"></script>
  </head>
  <body>
    
<!-- Section ABOUT -->

    <section class="about">
      <div class="container about__container">
        <p class="label about-label--white">tradition and love</p>
        <h2 class="title about-title--white about-desc-cow">how <br>it’s <br>made?</h2>
        <div class="about-description__paragraph about-desc">
          <p class="about-description__text about-description__text--indent">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts.</p>
          <p class="about-description__text about-description__text--text">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
        </div>
        <span class="button-about">
          <button type="button" class="button read-button">
            Read more
            <svg class="button-icon">
              <use href="./images/symbol-defs.svg#icon-angle"></use>
            </svg>
          </button>
        </span>
      </div>
    </section>

    <!-- /Section ABOUT -->

  </body>
</html>