<section class="section bgcolor">
  <div class="container-contacts">
    <h2 class="contacts__title visually-hidden">Contacts</h2>
    <address class="contacts__address">
      <div class="contacts">
        <ul class="contacts__card list">
          <li class="contacts__info">
            <p class="contacts__tipe">CAFE</p>
            <p class="contacts__place">Chicago</p>
            <a
              href="http://surl.li/dglyh"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="contacts__map"
              >10340 Ridgeland Ave,<br />Chicago Ridge, IL 60415, USA</a
            >
          </li>
          <li class="contacts__info">
            <p>Monday - Friday</p>
            <p class="contacts__place-time-open">06:00 AM - 10:00 PM</p>
            <p>Saturday - Sunday</p>
            <p class="contacts__place-time">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__info">
            <a href="tel:+610383766284" class="contacts__link link"
              >+61(0) 383 766 284</a
            ><br />
            <a href="mailto:noreply@envato.com" class="contacts__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
        <ul class="contacts__card list">
          <li class="contacts__info">
            <p class="contacts__tipe">FOOD TRUCK</p>
            <p class="contacts__place">Los Angeles</p>
            <a
              href="http://surl.li/dgmbs"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="contacts__map"
              >1003 Manhattan Ave, Manhattan<br />Beach, CA 90263, USA</a
            >
          </li>
          <li class="contacts__info">
            <p>Monday - Friday</p>
            <p class="contacts__place-time">06:00 AM - 10:00 PM</p>
            <p>Saturday - Sunday</p>
            <p class="contacts__place-time">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__info">
            <a href="tel:+610383766284" class="contacts__link link"
              >+61(0) 383 766 284</a
            ><br />
            <a href="mailto:noreply@envato.com" class="contacts__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
        <ul class="contacts__card list">
          <li class="contacts__info">
            <p class="contacts__tipe">CAFE</p>
            <p class="contacts__place">New York</p>
            <a
              href="http://surl.li/dgmcd"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="contacts__map"
              >726 Sterling Pl, Brooklyn,<br />NY 11222, USA</a
            >
          </li>
          <li class="contacts__info">
            <p>Monday - Friday</p>
            <p class="contacts__place-time">06:00 AM - 10:00 PM</p>
            <p>Saturday - Sunday</p>
            <p class="contacts__place-time">08:00 AM - 16:00 PM</p>
          </li>
          <li class="contacts__info">
            <a href="tel:+610383766284" class="contacts__link link"
              >+61(0) 383 766 284</a
            ><br />
            <a href="mailto:noreply@envato.com" class="contacts__link link"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </address>
  </div>
  <button type="button" class="read-button read-button__margin" data-modal-open>
    Our Locations<svg class="button-icon">
      <use href="./images/symbol-defs.svg#icon-angle"></use>
    </svg>
  </button>
</section>
