
<!-- Contacts -->
<section class="section">
    <div class="container">
        <h2 class="contacts__title visually-hidden">Contacts</h2>
    <address>
        <div class="contacts">
        <ul class="contacts__card list">
            <li class="">
                <p class="contacts__tipe">CAFE</p>
                <p class="contacts__place">Chicago</p>
                <a href="http://surl.li/dglyh" target="_blank"
                   rel="noopener noreferrer nofollow"
                   class="address__map">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
            </li>
            <li>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
            </li>
            <li>
                <a href="tel:+610383766284" class="address__link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="address__link">noreply@envato.com</a>
            </li>
        </ul>
        </div>
        <div class="contacts">
        <ul class="contacts__card list">
            <li>
                <p>FOOD TRUCK</p>
                <p>Los Angeles</p>
                <a href="http://surl.li/dgmbs" target="_blank"
                   rel="noopener noreferrer nofollow"
                   class="address__map">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
            </li>
            <li>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
            </li>
            <li>
                <a href="tel:+610383766284" class="address__link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="address__link">noreply@envato.com</a>
            </li>
        </ul>
        </div>
        <div class="contacts">
        <ul class="contacts__card list">
            <li>
                <p>CAFE</p>
                <p>New York</p>
                <a href="http://surl.li/dgmcd" target="_blank"
                   rel="noopener noreferrer nofollow"
                   class="address__map">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
            </li>
            <li>
                <p>Monday - Friday</p>
                <p>06:00 AM - 10:00 PM</p>
                <p>Saturday - Sunday</p>
                <p>08:00 AM - 16:00 PM</p>
            </li>
            <li>
                <a href="tel:+610383766284" class="address__link">+61(0) 383 766 284</a>
                <a href="mailto:noreply@envato.com" class="address__link">noreply@envato.com</a>
            </li>
        </ul>
        </div>
    </address>
    </div>
</section>