<section class="testimonials">
  <div class="testimonials__container">
    <h2 class="visually-hidden">Відгуки</h2>
    <div class="testimonials__wrapper">
      <div class="testimonials__card visible">
        <div class="testimonials__image">
          <picture>
            <source
              srcset="
                ./images/testimonials/testimonials-1.png    1x,
                ./images/testimonials/testimonials-1@2x.png 2x
              "
              type="image/webp"
            />
            <img
              class=""
              src="./images/testimonials/testimonials-1.png"
              alt="Перший відгук"
            />
          </picture>
        </div>
        <div class="testimonials__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </div>
        <div class="testimonials__name">Emily, Los Angeles</div>
      </div>

      <div class="testimonials__card">
        <div class="testimonials__image">
          <picture>
            <source
              srcset="
                ./images/testimonials/testimonials-2.png    1x,
                ./images/testimonials/testimonials-2@2x.png 2x
              "
              type="image/webp"
            />
            <img
              class=""
              src="./images/testimonials/testimonials-2.png"
              alt="Перший відгук"
            />
          </picture>
        </div>
        <div class="testimonials__text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </div>
        <div class="testimonials__name">Sam, Los Angeles</div>
      </div>

      <div class="testimonials__card">
        <div class="testimonials__image">
          <picture>
            <source
              srcset="
                ./images/testimonials/testimonials-3.png    1x,
                ./images/testimonials/testimonials-3@2x.png 2x
              "
              type="image/webp"
            />
            <img
              class=""
              src="./images/testimonials/testimonials-3.png"
              alt="Перший відгук"
            />
          </picture>
        </div>
        <div class="testimonials__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </div>
        <div class="testimonials__name">Diana, Chicago</div>
      </div>

      <div class="testimonials__card">
        <div class="testimonials__image">
          <picture>
            <source
              srcset="
                ./images/testimonials/testimonials-4.png    1x,
                ./images/testimonials/testimonials-4@2x.png 2x
              "
              type="image/webp"
            />
            <img
              class=""
              src="./images/testimonials/testimonials-4.png"
              alt="Перший відгук"
            />
          </picture>
        </div>
        <div class="testimonials__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </div>
        <div class="testimonials__name">Bryan, New-York</div>
      </div>
    </div>
    <div class="indicators">
      <button class="active dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
      <button class="dot"></button>
    </div>
  </div>
</section>
