
    <footer class="page-footer">
        <div class="container page-footer--flex">
            <div class="page-footer__text-div">
            <p class="page-footer__text">homemade ice cream made</p>
            <p class="page-footer__text--big">with passion</p>
            </div>

            <div class="page-footer__contacts">
            <ul class="page-footer__social-list">
                <li class="social-list__item">
                    <a class="social-list__link" href="#">
                         <svg class="social-list__svg" width="18px" height="18px">
                            <use href="./images/icons.svg#icon-git" class="social-list__use>"></use>
                         </svg>   
                    </a>
                </li>

                <li class="social-list__item">
                    <a class="social-list__link" href="#">
                         <svg class="social-list__svg" width="19px" height="15px">
                            <use href="./images/icons.svg#icon-telegram" class="social-list__use>"></use>
                         </svg>   
                    </a>
                </li>

                <li class="social-list__item">
                    <a class="social-list__link" href="#">
                        <svg class="social-list__svg" width="9px" height="19px">
                            <use href="./images/icons.svg#icon-facebook" class="social-list__use>"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <a class="page-footer__link" href="tel:+610383766284"><span class="page-footer__link--black">Feel free to contact&nbsp</span>+61 (0) 383 766 284</a>

          

            </div>

           
        </div>
        <hr class="hr">
        
        <span class="copyright">&#169; 2022 - IceCream.
            All Rights Reserved.</span>
    </footer>
