<section class="gallery">
  <ul class="contaner gallery-contaner">
    <li>
      <picture>
        <source
          srcset="
            ./images/gallery/desk01.jpg    1x,
            ./images/gallery/desk01@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet01.jpg    1x,
            ./images/gallery/tablet01@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile01.jpg    1x,
            ./images/gallery/mobile01@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="gallery-contaner__image gallery-contaner__anim-01"
          src="./images/gallery/tablet01.jpg"
          alt="ice cream photo"
        />
      </picture>
    </li>
    <li>
      <picture>
        <source
          srcset="
            ./images/gallery/desk02.jpg    1x,
            ./images/gallery/desk02@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet02.jpg    1x,
            ./images/gallery/tablet02@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile02.jpg    1x,
            ./images/gallery/mobile02@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="gallery-contaner__image gallery-contaner__anim-02"
          src="./images/gallery/tablet02.jpg"
          alt="ice cream photo"
        />
      </picture>
    </li>
    <li>
      <picture>
        <source
          srcset="
            ./images/gallery/desk03.jpg    1x,
            ./images/gallery/desk03@2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/gallery/tablet03.jpg    1x,
            ./images/gallery/tablet03@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/gallery/mobile03.jpg    1x,
            ./images/gallery/mobile03@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="gallery-contaner__image gallery-contaner__anim-03"
          src="./images/gallery/tablet03.jpg"
          alt="ice cream photo"
        />
      </picture>
    </li>
  </ul>
</section>
