<section class="hero section-hero">
  <div class="hero-container container">
    <div class="hero-container__left-side">
      <div class="hero__title-block">
        <h1 class="title-block__title">ice cream made with <span>passion</span></h1>
        <div class="title-block__buttons">
          <button type="button" class="title-block__button products-button" onclick="location.href='#'">
            Products
          </button>
          <button type="button" class="title-block__button about-button" onclick="location.href='#'">
            How it’s made?
          </button>
        </div>
      </div>
      <div class="hero__icecream-plate">
        <picture class="icecream-plate__img">
          <source srcset="./images/hero/icecream-plate-desktop.webp 1x, ./images/hero/icecream-plate-desktop@2x.webp 2x"
            media="(min-width: 1200px)" type="image/webp" width="225" height="225" />
          <source srcset="./images/hero/icecream-plate-desktop.png 1x, ./images/hero/icecream-plate-desktop@2x.png 2x"
            media="(min-width: 1200px)" type="image/png" width="225" height="225" />
          <source srcset="./images/hero/icecream-plate-tablet.webp 1x, ./images/hero/icecream-plate-tablet@2x.webp 2x"
            media="(min-width: 768px)" type="image/webp" width="150" height="152" />
          <source srcset="./images/hero/icecream-plate-tablet.png 1x, ./images/hero/icecream-plate-tablet@2x.png 2x"
            media="(min-width: 768px)" type="image/png" width="150" height="152" />

          <img src="./images/hero/icecream-plate-desktop.png" alt="Ice Cream Plate" />
        </picture>
        <div class="icecream-plate__text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <button type="button" class="icecream-plate__button arrow-button" onclick="location.href='#'">
            <svg class="arrow-button-icon ">
              <use href="./images/symbol-defs.svg#icon-arrow40"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="hero__achiev-box">
      <ul class="achiev-list list">
        <li class="achiev-list__item">
          <p class="achiev-list__numbers">16</p>
          <p class="achiev-list__desc">cafes</p>
        </li>
        <li class="achiev-list__item">
          <p class="achiev-list__numbers">23</p>
          <p class="achiev-list__desc">food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</section>