<section class="hero section-hero">
  <div class="hero-container">
    <h1 class="hero-title">
      ice cream made with <span class="hero-title__acent">passion</span>
    </h1>
    <ul class="hero-button__list">
      <li>
        <a href="" class="hero-button__product">Products</a>
      </li>
      <li>
        <a href="#" class="hero-button__how-made"> How it’s made? </a>
      </li>
    </ul>
    <img
      src="./images/hero/ice-cream-mobile.svg"
      alt=""
      class="hero-image__ice-cream"
    />
  </div>
</section>
