<section class="hero section-hero">
  <div class="hero-container container">

  <div class="hero-container">

    <h1 class="hero-title">ice cream made with <span class="hero-title__acent">passion</span>
    </h1>
    <ul class="hero-button__list">
      <li>
        <a href="" class="hero-button__product">Products</a>
      </li>
      <li>
        <a href="#" class="hero-button__how-made"> How it’s made? </a>
      </li>
    </ul>

    <picture>
      <source
        srcset="
          ./images/hero/ice-cream-desctop.png    1x,
          ./images/hero/ice-cream-desctop@2x.png 2x
        "
        width="447"
        height="561"
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/hero/ice-cream-tablet.png    1x,
          ./images/hero/ice-cream-tablet@2x.png 2x
        "width="257"
         height="325"
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/hero/ice-cream-mobile.png 1x,
          ./images/hero/ice-cream-mobile.png 2x
        "width="170"
         height="220"
        media="(max-width: 767px)"
      />
      <img
        src="./images/hero/ice-cream-mobile.png"
        alt="ice-cream"
        class="hero-image__ice-cream"
    
      />
    </picture>
  
  </div>
</section>
