<div class="backdrop is-hidden" data-modal-read-more>
  <div class="modal-read-more">
    <button
      type="button"
      class="modal-window__btn-close"
      data-modal-close-read-more
    >
      <svg class="modal-window__icon-close">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-window-read-more__title">How it’s made?</p>
    <div class="video-wrap">
      <iframe
        class="video"
        src="https://www.youtube.com/embed/mpaSFqzK070"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <p class="modal-read-more-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
