<div class="backdrop">
  <div class="modal-ingredients">
    <button type="button" class="modal-ingredients__btn-close">
      <svg class="modal-ingredients__icon-close">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-ingredients__main-title">Chololate icecream</h2>
    <div class="test">
      <img
        class="modal-ingredients__ice-cream"
        src="./images/products/modal-ingredients-ice-cream.jpg"
        alt="ice cream"
      />
    </div>
    <ul class="modal-ingredients__list">
      <li>
        <p class="modal-ingredients__weight">320</p>
        <p class="modal-ingredients__storage">kcal</p>
      </li>
      <li>
        <p class="modal-ingredients__weight">4g</p>
        <p class="modal-ingredients__storage">prote...</p>
      </li>
      <li>
        <p class="modal-ingredients__weight">8,2g</p>
        <p class="modal-ingredients__storage">Fats</p>
      </li>
      <li>
        <p class="modal-ingredients__weight">40,4g</p>
        <p class="modal-ingredients__storage">Carbs</p>
      </li>
    </ul>
    <h2 class="modal-ingredients__secondary-title">Ingredients</h2>
    <ul class="modal-ingredients__products-ingredients-list">
      <li class="modal-ingredients__products-ingredients">
        <p>Milk</p>
        <p>100ml</p>
      </li>
      <li class="modal-ingredients__products-ingredients">
        <p>Belgian chocolate</p>
        <p>20g</p>
      </li>
      <li class="modal-ingredients__products-ingredients">
        <p>Cream</p>
        <p>150ml</p>
      </li>
      <li class="modal-ingredients__products-ingredients">
        <p>Cocoa powder</p>
        <p>30g</p>
      </li>
      <li class="modal-ingredients__products-ingredients">
        <p>Sugar</p>
        <p>40g</p>
      </li>
      <li class="modal-ingredients__products-ingredients">
        <p>Vanilla sugar</p>
        <p>10g</p>
      </li>
    </ul>
    <form class="modal-ingredients__form">
      <input
        type="text"
        name="name"
        class="modal-ingredients__user-name"
        placeholder="Name"
      />
      <input
        type="tel"
        name="telephone"
        class="modal-ingredients__phone"
        placeholder="Phone"
      />
      <textarea
        name="comments"
        id="comments"
        class="modal-ingredients__comments"
        placeholder="Comment"
      ></textarea>
      <button type="submit" class="modal-ingredients__btn submit-button">
        Submit
      </button>
    </form>
  </div>
</div>
