<section id="our_products" class="products__section">
  <div class="products container">
    <span class="products-paragraph">100% natural</span>
    <h2 class="title products-title">products</h2>
    <ul class="products__list">
      <li class="products__items products__ice-cream">
        <h3 class="products__card-title products__card-ice-cream">ice cream</h3>
        <p class="products__card-about">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          type="button"
          class="arrow-button products__btn"
          onclick="location.href='#'"
          data-modal-open-ingredients1
        >
          <svg class="arrow-button-icon">
            <use href="./images/symbol-defs.svg#icon-arrow40"></use>
          </svg>
        </button>
      </li>
      <li class="products__items products__ice-coffee">
        <h3 class="products__card-title products__card-ice-coffee">
          ice coffee
        </h3>
        <p class="products__card-about">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          type="button"
          class="arrow-button products__btn"
          onclick="location.href='#'"
          data-modal-open-ingredients2
        >
          <svg class="arrow-button-icon">
            <use href="./images/symbol-defs.svg#icon-arrow40"></use>
          </svg>
        </button>
      </li>
      <li class="products__items products__milkshakes">
        <h3 class="products__card-title products__card-milkshakes">
          milkshakes
        </h3>
        <p class="products__card-about">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          type="button"
          class="arrow-button products__btn"
          onclick="location.href='#'"
          data-modal-open-ingredients3
        >
          <svg class="arrow-button-icon">
            <use href="./images/symbol-defs.svg#icon-arrow40"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
