<section class="section">
  <div class="container">
    <div class="testimonials">
      <img
        src="./images/testimonials/testimonials-1.png"
        class="testimonials__image"
      />
      <div class="testimonials__wrapper">
        <p class="testimonials__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
      </div>
    </div>
    <div class="testimonials">
      <img
        src="./images/testimonials/testimonials-2.png"
        class="testimonials__image"
      />
      <div class="testimonials__wrapper">
        <p class="testimonials__text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
      </div>
    </div>
    <div class="testimonials">
      <img
        src="./images/testimonials/testimonials-3.png"
        class="testimonials__image"
      />
      <div class="testimonials__wrapper">
        <p class="testimonials__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
      </div>
    </div>
    <div class="testimonials">
      <img
        src="./images/testimonials/testimonials-4.png"
        class="testimonials__image"
      />
      <div class="testimonials__wrapper">
        <p class="testimonials__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
      </div>
    </div>
  </div>
</section>
