.modal-read-more {
  position: absolute;
  z-index: 120;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 280px;
  max-width: 450px;
  height: auto;
  padding: 26px 26px 31px;
  transition: transform var(--transition-dur-and-func);
  background-color: var(--primary-text-color);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
}

.modal-window__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
}

.modal-window__icon-close {
  width: 16px;
  height: 16px;
}

.modal-window-read-more__title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: var(--modal-buy-font-size);
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;

  color: var(--secondary-text-color);
}

.modal-read-more-text {
  font-family: inherit;
  font-weight: 400;
  font-size: var(--mobile-primary-font-size);
  line-height: 1.4;
  color: var(--secondary-text-color);
}

.video-wrap {
  width: 224px;
  height: 199px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  padding-bottom: 56%;
  border-radius: 10px;
}

.video {
  position: absolute;
  width: 100%;
  max-width: 450px;
  height: 100%;
  top: 0;
  left: 0;
  // border-width: 0;
  // outline-width: 0;
}

@media screen and (min-width: 768px) {
  .modal-read-more {
    width: 100%;
    max-width: 568px;
    height: 449px;
    padding: 30px 58px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-window__btn-close {
    top: 20px;
    right: 20px;
  }

  .modal-window__icon-close {
    width: 20px;
    height: 20px;
  }

  .modal-window-read-more__title {
    font-size: var( --mobile-customer-font-size);
    line-height: 1.4;
  }

  .modal-read-more-text {
    font-size: var(--modal-buy-font-size);
    line-height: 1.37;
  }

  .video-wrap {
    width: 448px;
    height: 205px;
    padding-bottom: 50%;
  }
}