.modal-ingredients {
        position: absolute;
        z-index: 120;
        top: 8px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 450px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        background: var(--primary-text-color);
        border: 2px solid var(--border-color-modal);
        border-radius: 10px;
}

.modal-ingredients__btn-close {
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 0;
        background: transparent;
        border: 0;
        line-height: 0;
}

.modal-ingredients__icon-close {
        width: 16px;
        height: 16px;
}

.modal-ingredients__main-title {
        font-family: 'Seymour One';
        font-size: 20px;
        line-height: 1.4;

        text-align: center;

        margin-top: 28px;
        margin-bottom: 22px;
    
        color: var(--secondary-text-color);
}

.modal-ingredients__ice-cream-container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    width: 130px;
    &::before {
            content: "";
            position: absolute;
            top: 8;
            left: 0;
            width: 130px;
            height: 130px;
            border-radius: 100px;
            box-shadow: 0px 5px 19px rgba(10, 136, 23, 0.25);
            background-color: rgba(10, 136, 23, 0.25);

            z-index: -1;
        }
}

.modal-ingredients__ice-cream {
    border-radius: 100px;   
}

.modal-ingredients__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin-bottom: 39px;
}

.modal-ingredients__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #9CBE8F;
        border-radius: 40px;

        width: 53px;
}

.modal-ingredients__weight {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 10px;
        line-height: 2.8;
        margin-bottom: 8px;

        width: 40px;
        height: 40px;

        background: #9CBE8F;
        border: 2px solid #9CBE8F;
        border-radius: 40px;
        box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
    
        color: var(--secondary-text-color);
}

.modal-ingredients__storage {
        font-size: 10px;
        line-height: 1.2;

        margin-bottom: 8px;
    
        color: var(--secondary-text-color);
}

.modal-ingredients__secondary-title {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4;

        margin-bottom: 24px;

        color: var(--secondary-text-color);
}

.modal-ingredients__products-ingredients-list {
    margin-bottom: 48px;
}

.modal-ingredients__products-ingredients {
        font-size: 14px;
        line-height: 1.76;
        letter-spacing: 0.04em;

        display: flex;
        justify-content: space-between;
    
        color: var(--secondary-text-color);
}

.modal-ingredients__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.modal-ingredients__user-name,
.modal-ingredients__phone,
.modal-ingredients__comments {
    width: 100%;
    height: 42px;
    background: var(--input-bg-color);
    border: 1px solid var(--border-color-input);
    border-radius: 10px;

    &::placeholder {
            font-size: 14px;
            line-height: 1.4;
        
        
            color: var(--secondary-text-color);
    }
}

.modal-ingredients__comments {
    height: 84px;
}

.modal-ingredients__user-name,
.modal-ingredients__phone,
.modal-ingredients__comments {
    font-style: normal;
    font-size: var(--mobile-secondary-font-size);
    line-height: 1.41;
    padding: 8px 12px;

    color: var(--secondary-text-color);
}

.modal-ingredients__comments {
    resize: none;
}

.modal-ingredients__btn {
    margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
}