.about__container {
  // margin-left: auto;
  // margin-right: auto;
  padding-top: 60px;
  text-align: center;
  z-index: 100;
}

.about-label {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: var(--mobile-label-font-size);
  line-height: 1.22;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .about-label {
    font-weight: 800;
    font-size: var(--tablet-label-font-size);
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .about-label {
    font-size: var(--mobile-title-font-size);
  }
}

.about-title {
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 54px;
  font-family: Seymour One;
  font-weight: 400;
  font-size: var(--mobile-title-font-size);
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .about-title {
    max-width: 454px;
    margin-bottom: 90px;
    font-size: var(--mobile-title-font-size);
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .about-title {
    max-width: 481px;
    margin-bottom: 172px;
    font-size: 35px;
  }
}

@media screen and (min-width: 768px) {
  .about-wrapper {
    display: flex;
    align-items: center;
  }
}

.about-cow-image {
  position: relative;
  width: 278px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  &::before {
    content: '';
    position: absolute;
    width: 278px;
    height: 278px;
    top: -22;
    left: 0;

    z-index: -1;
  }
}

@media screen and (min-width: 768px) {
  .about-cow-image {
    width: 334px;
    margin-left: 1px;
    margin-right: 32px;
    margin-bottom: 0;
  }

  .about-cow-image::before {
    width: 334px;
    height: 330px;
    top: -26;
    left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about-cow-image {
    width: 490px;
    margin-left: 2px;
    margin-right: 108px;
  }

  .about-cow-image::before {
    width: 500px;
    height: 500px;
    top: -38;
    left: -1%;
  }
}

.about-cow-shadow::before {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  border-radius: 140px;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
}

@media screen and (min-width: 768px) {
  .about-cow-shadow::before {
    border-radius: 166px;
    box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
  }
}

@media screen and (min-width: 1200px) {
  .about-cow-shadow::before {
    border-radius: 250px;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  }
}

.about__cow {
  margin-left: auto;
  margin-right: auto;
}

.about-description__paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .about-description__paragraph {
    align-items: flex-start;
  }
}

.about-description__text {
  width: 100%;
  max-width: 220px;
  font-weight: 400;
  font-size: var(--mobile-secondary-font-size);
  line-height: 1.76;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .about-description__text {
    max-width: 334px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .about-description__text {
    max-width: 463px;
    font-size: var(--modal-buy-font-size);
  }
}

.about-description__text--indent {
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .about-description__text--indent {
    margin-bottom: 8px;
  }
}

.about-description__text--text {
  line-height: 1.62;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about-description__text--text {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .about-description__text--text {
    font-size: var(--mobile-primary-font-size);
    line-height: 1.94;
  }
}

.about-description__text--hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-description__text--hidden {
    display: block;
    margin-bottom: 48px;
    line-height: 1.94;
  }
}

@media screen and (min-width: 1200px) {
  .about-description__text--hidden {
    font-size: var(--mobile-primary-font-size);
  }
}

.read-button {
  font-family: inherit;
  font-weight: 600;

  font-size: 14px;
  line-height: 1.29;

  color: var(--secondary-text-color);

  border: none;
  background-color: var(--accent-color);
  border-radius: 10px;

  cursor: pointer;

  padding: 12px 34px;

  transition: background-color var(--transition-dur-and-func);
}

.read-button:hover {
  background-color: var(--hover-focus-color);
}

.read-button:focus {
  color: var(--primary-text-color);
  background-color: var(--hover-focus-color);
}

.read-button:disabled {
  background-color: var(--disabled-color);
}

.button-icon {
  width: 12px;
  height: 12px;
  fill: currentColor;
  margin-left: 5px;
}
