a {
    text-decoration: none;
}

.page-footer {
    background-color: var(--primary-bg-color);
    
    
   
    
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    
    
    color: var(--primary-text-color);

    padding-bottom: 62px;

}

.page-footer__special-container {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
}

.page-footer--flex {
    display: block;
    flex-direction: column;

    width: 100%;

    padding-bottom: 40px;
}



.page-footer__text {
        text-transform: uppercase;

        width: 243px;
        margin-bottom: 16px;
}

.page-footer__text--big {
       
        font-size: 34px;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        width: 200px;
        margin-bottom: 42px;
}



.page-footer__social-list {
    display: flex;
    gap: 30px;
    justify-content: end;

    margin-bottom: 38px;

}

.social-list__item {
   
    }


.social-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 32px;
    height: 32px;
    color: var(--primary-bg-color);
    background-color: var(--accent-color);
    border-radius: 50%;
    

    transition: height, width var(--transition-dur-and-func);

    &:hover {
        color: var(--primary-text-color);
        height: 32px;
        width: 32px;
    }

    &:focus {
        color: var(--primary-text-color);
         height: 35px;
         width: 35px;
         
    }
}

.social-list__svg {
    fill: currentColor;
    width: 35px;
    height: 35px;
}

.page-footer__contact-text {
       
}

.page-footer__link {
        font-size: 12px;
        line-height: 1.8;

        
        color: var(--primary-text-color);

       

       

}

.page-footer__contacts {
    display: flex;
    flex-direction: column;
    
    align-items: end;
}

.page-footer__link--black {
    color: var(--secondary-text-color);
}

.copyright__div {
    border-top: 1px solid #E1E1E1;
    
    padding-top: 16px;
}

.copyright {
        font-size: 14px;
        line-height: 1.5;
        
    
        text-align: center;
    
        color: var(--copyright-text-color);

        display: flex;
        justify-content: center;

        width: 165px;

        margin-left: auto;
        margin-right: auto;

}




@media screen and (max-width: 319px) {
    .page-footer__link {
        font-size: 8px;
    }
}


@media screen and (min-width: 768px) {
    .page-footer {
            font-size: 26px;
            line-height: 1.2;
            
            margin-left: auto;
            margin-right: auto;

            color: var(--primary-text-color);
        
            padding-bottom: 9px;
    }

    .page-footer__special-container {
        max-width: 768px;
        
    }

    .page-footer--flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        background-position: 56px;
    }

    .page-footer__text {
            text-transform: uppercase;
    
            margin-bottom: 9px;

            width: 352px;
    }
    
    .page-footer__text--big {
    
            font-size: 48px;
            
            text-transform: uppercase;
    
            margin-bottom: 0px;

            width: 340px;
    }

    .page-footer__social-list {
        
    
        margin-top: 68px;
        margin-bottom: 32px;
    
        }

        
    .social-list__link {
        width: 34px;
        height: 34px;
    }

    .page-footer__link {
        font-size: 14px;
        line-height: 1.8;
    
    
        text-align: right;
    
            
    
        margin-bottom: 24px;
    
        }


    .copyright__div {
        padding-top: 14px;
        width: 100%;
    }


    .copyright{
        width: 100%;
    }

    
}

@media screen and (min-width: 1200px) {
    .page-footer {
        font-size: 26px;
        line-height: 1.2;
        


        color: #FCFCFC;

        padding-bottom: 9px;
    }

    .page-footer__special-container {
        max-width: 1200px;
    
    }

    .page-footer--flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        padding-bottom: 54px;
    }

    .page-footer__text {
        text-transform: uppercase;

        margin-bottom: 9px;

        width: 504px;
    }

    .page-footer__text--big {

        font-size: 48px;

        text-transform: uppercase;

        margin-bottom: 0px;

        width: 504px;
    }

    .page-footer__social-list {


        margin-top: 0px;

    }


    .page-footer__link {
        font-size: 14px;
        line-height: 1.8;


        text-align: right;



        margin-bottom: 0px;

    }



    .copyright__div {
        padding-top: 12px;
    }

    .copyright {
        width: 100%;
        font-size: 12px;
    }

}