.section-hero {
  padding-top: 58px;
  position: relative;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero {
  background-color: #84a178;
  background-image: url(../images/hero/dots-mobile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: contain;
}

// .hero-image__ice-cream {
// }
.hero-title {
  font-family: Seymour One, sans-serif;
  color: rgba(252, 252, 252, 1);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  max-width: 247px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.hero-title__acent {
  font-family: Seymour One, sans-serif;
  color: rgba(252, 252, 252, 1);
  font-weight: 400;
  font-size: 34px;
  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  max-width: 247px;
}

.hero-button__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.hero-button__product {
  font-family: Montserrat, sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.25;
  background-color: transparent;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  margin-right: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;

  &:hover {
    border: 2px solid rgba(10, 136, 23, 1);
  }
  &:focus {
    border: 2px solid rgba(10, 136, 23, 1);
    color: rgba(252, 252, 252, 1);
  }
  &:disabled {
    border: rgba(171, 171, 171, 1);
  }
}

.hero-button__how-made {
  font-family: Montserrat, sans-serif;
  color: rgba(248, 210, 78, 1);
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-decoration-line: underline;
  background-color: transparent;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 22px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-color: #84a178;

    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: contain;
  }
}
