.products__section {
        width: 100%;
        background-color: var(--tel-text-color);
        padding-top: 60px;
        padding-bottom: 60px;
        background-position: center;
        background-image: url(../images/products/products-bcg-mobile.png);
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px),
(min-resolution: 2dppx) and (max-width: 767px) {
        .products__section {
                background-image: url(../images/products/products-bcg-mobile@2.png);
        }
}
.products {
    text-align: center;
    width: auto;
}

.products-paragraph {
        font-weight: 800;
        font-size: 18px;
        line-height: 1.2;

        text-align: center;
        text-transform: uppercase;

        color: var(--secondary-text-color);
}

.products-title {
        font-family: 'Seymour One';
        font-size: 30px;
        line-height: 1.26;
        text-transform: uppercase;

        margin-top: 12px;


        color: var(--secondary-text-color);

}

.products__list {
        display: inline-block;
        margin-top: 148px;
        max-width: 450px;


}

.products__items {
        display: inline-block;
        border-radius: 24px;
        margin-bottom: 163px;

        padding-left: 40px;
        padding-right: 40px;

        &:last-child {
                margin-bottom: 0;
        }

        &::before {
                        content: "";
                        width: 200px;
                        height: 200px;
                        position: absolute;
                        border-radius: 100px;
                        top: -108;
                                left: 50%;
                                margin-right: -50%;
                                transform: translate(-50%, 0);
                        z-index: 20;
                        background-size: cover;
        }
}

.products__ice-cream {
        position: relative;
        background: var(--cream-bg-color);
        &::before {
                        background-image: url(../images/products/products-ice-cream.jpg);
                }
}

@media (min-device-pixel-ratio: 2) and (max-width: 1199px),
(min-resolution: 192dpi) and (max-width: 1199px),
(min-resolution: 2dppx) and (max-width: 1199px) {
        .products__ice-cream {
                &::before {
                        background-image: url(../images/products/products-ice-cream@2.jpg);
                        
                }
        }
}

.products__ice-coffee {
        position: relative;
        background: var(--coffee-bg-color);

        &::before {
                        background-image: url(../images/products/products-ice-coffee.jpg);
                }

}

@media (min-device-pixel-ratio: 2) and (max-width: 1199px),
(min-resolution: 192dpi) and (max-width: 1199px),
(min-resolution: 2dppx) and (max-width: 1199px) {
        .products__ice-coffee {
                &::before {
                        background-image: url(../images/products/products-ice-coffee@2.jpg);
                        background-size: cover;
                }
        }
}

.products__milkshakes {
        position: relative;
        background: var(--milkshakes-bg-color);

        &::before {
                        background-image: url(../images/products/products-milkshakes.jpg);
                }
}

@media (min-device-pixel-ratio: 2) and (max-width: 1199px),
(min-resolution: 192dpi) and (max-width: 1199px),
(min-resolution: 2dppx) and (max-width: 1199px) {
        .products__milkshakes {
                &::before {
                        background-image: url(../images/products/products-milkshakes@2.jpg);
                        background-size: cover;
                }
        }
}
.products__card-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.2;
        
        text-transform: uppercase;
        margin-top: 123px;

        margin-bottom: 40px;

        &::before {
                content: "";
                width: 200px;
                height: 200px;
                position: absolute;
                top: -96;
                left: 50%;
                        margin-right: -50%;
                        transform: translate(-50%, 0);
                border-radius: 100px;

        }
    
        color: var(--secondary-text-color);
}

.products__card-ice-cream {
        &::before {
                box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
        }
}

.products__card-ice-coffee {
        &::before {
                box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
        }

}

.products__card-milkshakes {
        &::before {
                box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
        }

}

.products__card-about {
        line-height: 1.78;
        margin-bottom: 90px;
        color: var(--secondary-text-color);
}
.products__btn {
    width: 40px;
    margin-bottom: 20px;
}

// <===teblet===>

@media screen and (min-width: 768px) {
        .products__section {
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: var(--tel-text-color);
                background-image: url(../images/products/products-background-tablet.png);
        }
                @media (min-device-pixel-ratio: 2) and (max-width: 1199px),
                (min-resolution: 192dpi) and (max-width: 1199px),
                (min-resolution: 2dppx) and (max-width: 1199px) {
                        .products__section {
                                background-image: url(../images/products/products-background-tablet@2.png);
                        }
                }
        .products-paragraph {
                font-size: 22px;
                line-height: 1.22;
        }
        
        .products-title {
                font-size: 34px;
                line-height: 1.26;
        }

        .products__card-title {
                margin-top: 110px;
                font-size: 22px;
        }
        .products__list {
                display: flex;
                gap: 16px;
                margin-top: 200px;
        }

        .products__items {
                display: flex;
                flex-direction: column;
                align-items: center;

                height: 428px;

                border-radius: 15px;
                margin-bottom: 0;
                min-width: 224px;
                padding-right: 26px;
                padding-left: 26px;
        }

        .products__card-about {
                max-width: 172px;
                margin-bottom: auto;
        }
}

// <===desktop===>

@media screen and (min-width: 1200px) {

        .products__section {
                max-width: 1600px;

                margin-left: auto;
                margin-right: auto;

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: var(--tel-text-color);
                background-image: url(../images/products/products-background-desktop.png);
                }
                
                        @media (min-device-pixel-ratio: 2) and (min-width: 1200px),
                        (min-resolution: 192dpi) and (min-width: 1200px),
                        (min-resolution: 2dppx) and (min-width: 1200px) {
                                .products__section {
                                        background-image: url(../images/products/products-background-desktop@2.png);
                                }
                        }
        .products-paragraph {
                font-size: 30px;
        }

        .products-title {
                font-size: 36px;
                line-height: 1.25;
        }

        .products__list {
                margin-top: 300px;
                max-width: 1200px;
        } 

        .products__items {
                width: 370px;
                height: 535px;
                padding-left: 62px;
                padding-right: 62px;

                &::before {
                        top: -183;
                        width: 300px;
                        height: 300px;
                        border-radius: 150px;
                }
        }
        
        .products__ice-cream {
                &::before {
                                background-image: url(../images/products/products-ice-cream-desktop.jpg);
                }
        }

                @media (min-device-pixel-ratio: 2) and (min-width: 1200px),
                (min-resolution: 192dpi) and (min-width: 1200px),
                (min-resolution: 2dppx) and (min-width: 1200px) {
                        .products__ice-cream {
                                &::before {
                                        background-image: url(../images/products/products-ice-cream-desktop@2.jpg);
        
                                }
                        }
                }
        .products__ice-coffee {
                &::before {
                        background-image: url(../images/products/products-ice-coffee-desktop.jpg);
                }
        }

        @media (min-device-pixel-ratio: 2) and (min-width: 1200px),
        (min-resolution: 192dpi) and (min-width: 1200px),
        (min-resolution: 2dppx) and (min-width: 1200px) {
                .products__ice-coffee {
                        &::before {
                        background-image: url(../images/products/products-ice-coffee-desktop@2.jpg);

                        }
                }
}
        .products__milkshakes {
                &::before {
                        background-image: url(../images/products/products-milkshakes-desktop.jpg);
                }
        }

        @media (min-device-pixel-ratio: 2) and (min-width: 1200px),
        (min-resolution: 192dpi) and (min-width: 1200px),
        (min-resolution: 2dppx) and (min-width: 1200px) {
                .products__milkshakes {
                        &::before {
                                background-image: url(../images/products/products-milkshakes-desktop@2.jpg);

                        }
                }
}

        .products__card-title {
                &::before {
                        width: 300px;
                        height: 300;
                        border-radius: 150px;
                        top: -166;

                }
        }

        .products__card-title {
                font-size: 30px;
                margin-top: 166px;
                margin-bottom: 65px;
        }

        .products__card-about {
                font-size: 16px;
                line-height: 1.75;
                max-width: 242px;
        }

        .products__btn  {
                margin-bottom: 60px;
        }
}